# Enable aliases to be sudo'ed
alias sudo='sudo '

# Updates the Brewfile
alias update_brewfile='brew bundle dump --describe --force --file=~/.dotfiles/homebrew/Brewfile'

# Get macOS software updates, and update Homebrew and its installed packages
alias update_system='sudo brew update && brew upgrade && brew cu -y -i --include-mas && softwareupdate -ia'
