# Enable aliases to be sudo'ed
alias sudo='sudo '

# Updates the Brewfile
alias update_brewfile='brew bundle dump --describe --force --file=~/.dotfiles/homebrew/Brewfile'

# Get macOS software updates, and update Homebrew and its installed packages
alias update_system='brew update && brew upgrade && brew cu -y --include-mas && softwareupdate -i -a'

# Update Spicetify
alias update_spicetify='spicetify backup && spicetify upgrade && spicetify restore backup apply'
alias update_marketplace='curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.sh | sh && spicetify apply && rm -f /Users/kriselers/.config/spicetify/CustomApps/marketplace/*.md'

# Git aliases
alias gs='git status -sb'
alias gcc='git checkout'
alias gcm='git checkout master'
alias gaa='git add --all'
alias gc='git commit -m $2'
alias push='git push'
alias gpo='git push origin'
alias pull='git pull'
alias clone='git clone'
alias stash='git stash'
alias pop='git stash pop'
alias ga='git add'
alias gb='git branch'
alias gm='git merge'
alias ginit='git init .'

# Zsh aliases
alias .='cd .'
alias .1='cd ..'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias zshclear='echo "" > ~/.zsh_history'
alias cls='clear'
alias ls='colorls -1'
alias ll='colorls -l'
alias ll.='colorls -la'
alias lls='colorls -la -S'   # List all sorted by size
alias llt='colorls -la -lt'  # List all sorted by time
alias rm='rm -iv'
alias refresh='source ~/.zshrc'
