# Enable aliases to be sudo'ed
alias sudo='sudo '

# Edit some files in VSCode
alias zshrcconf='code ~/.dotfiles/.zshrc'
alias zprofconf='code ~/.dotfiles/.zprofile'
alias p10kconf='code ~/.dotfiles/.p10k.zsh'

# Get macOS software updates, and update Homebrew and its installed packages

