# Update Brewfile
update_brewfile ()
{
    brew bundle dump --describe --force --file=~/Projects/dotfiles/homebrew/Brewfile
}

# Get macOS software updates, and update Homebrew and its installed packages
update_system ()
{
    brew update
    brew upgrade
    brew cu -y --include-mas
    softwareupdate -i -a
}

# Update Spicetify and the marketplace
update_spicetify ()
{
    spicetify backup
    spicetify upgrade
    spicetify restore backup apply
    curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.sh | sh \
        && spicetify apply && rm -f $HOME/.config/spicetify/CustomApps/marketplace/*.md
}

# Echo PATH and split with newlines
path ()
{
    echo $PATH | tr ':' '\n'
}

# Extracts any archive(s) (if unp is uninstalled)
extract ()
{
    for archive in $*; do
        if [ -f $archive ] ; then
            case $archive in
                *.tar.bz2)   tar xvjf $archive    ;;
                *.tar.gz)    tar xvzf $archive    ;;
                *.bz2)       bunzip2 $archive     ;;
                *.rar)       rar x $archive       ;;
                *.gz)        gunzip $archive      ;;
                *.tar)       tar xvf $archive     ;;
                *.tbz2)      tar xvjf $archive    ;;
                *.tgz)       tar xvzf $archive    ;;
                *.zip)       unzip $archive       ;;
                *.Z)         7z x $archive        ;;
                *)           echo "Don't know how to extract '$archive'..." ;;
            esac
        else
            echo "'$archive' is not a valid file!"
        fi
    done
}

# Creates a tar file of a provided directory and optionally places in a specific
# location
tarit ()
{
    if [ $# -lt 1 ]; then
        echo "Usage: tarit <directory> [output_directory]"
        return 1
    fi

    if [ $# -lt 2 ]; then
        output_dir="."
    else
        output_dir="${2}"
        shift 2
    fi

    if [ ! -d "$1" ]; then
        echo "Directory does not exist: $1"
        return 1
    fi

    local timestamp=$(date "+%Y-%m-%d_%H%M")
    local dirname=$(basename "$1")
    local dir_to_tar="$1"
    # Shift to handle any additional options to tar
    shift

    tar -czvf "${output_dir}/${dirname}_${timestamp}.tgz" "$dir_to_tar" "$@"
}

# Searches for text in all files in the current folder
ftext ()
{
    # -i case-insensitive
    # -I ignore binary files
    # -H causes filename to be printed
    # -r recursive search
    # -n causes line number to be printed
    # optional: -F treat search term as a literal, not a regular expression
    # optional: -l only print filenames and not the matching lines ex. grep -irl "$1" *
    grep -iIHrn --color=always "$1" . | less -r
}

# Copy and go to the directory
cpg ()
{
    if [ -d "$2" ]; then
        cp $1 $2 && cd $2
    else
        cp $1 $2
    fi
}

# Move and go to the directory
mvg ()
{
    if [ -d "$2" ]; then
        mv $1 $2 && cd $2
    else
        mv $1 $2
    fi
}

# Create and go to the directory
mkdirg ()
{
    mkdir -p "$@"
    cd "$@" || exit
}

# Goes up a specified number of directories (i.e., up 4)
up ()
{
    local d=""
    limit=$1
    for ((i=1 ; i <= limit ; i++))
        do
            d=$d/..
        done
    d=$(echo $d | sed 's/^\///')
    if [ -z "$d" ]; then
        d=..
    fi
    cd $d
}

# Returns the last 2 fields of the working directory
pwdtail ()
{
    pwd | awk -F/ '{nlast = NF -1;print $nlast"/"$NF}'
}